.box{
     display: flex;
     flex-direction: column;
     padding: 15px;
     box-sizing: border-box;
     width: 30%;
     gap: 5px;
     color: #fff;
     font-size: 8px;
     line-height: 8px;
     font-weight: 600;
     letter-spacing: 0.5px;
     border: 1px solid grey;
     border-radius: 5px;

}