body{
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}
span{
  color: #fff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form{
  max-width: 800px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: transparent;
  backdrop-filter: blur(50px);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: start;
  padding: 20px;
  box-sizing: border-box;
}
.block{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
}

.input{
  padding: 5px 10px;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: transparent;
}

label{
  width: 100%;
  text-align: left;
}
.btn{
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  outline: none; 
  width: 100%;
  background-color: blue;
  transition: all 0.5s;
}
.btn:hover{
  background-color: rgb(8, 8, 122);
}

.card{
  max-width: 800px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: start;
  padding: 20px;
  box-sizing: border-box;
}